[general]
libraries = ["libopus", "libogg", "libopusenc", "libopusfile"]
platforms = ["ios-sim", "ios", "macos", "android"]
keep_intermediate = false
repo_prefix = "https://gitlab.xiph.org/xiph/"

[paths]
build_dir = "build"
repo_path = ["repos"]

[build]
make_concurrent_jobs = 8
cflags = "-O3 -g -DNDEBUG -ffast-math"
ldflags = "-flto -fPIE"
configure_flags = ["--with-pic"]

[platforms.macos]
min_version = "10.13"
archs = ["arm64", "x86_64"]
lib_type = "static"

[platforms.ios]
min_version = "11.0"
archs = ["arm64"]
lib_type = "static"

[platforms.ios-sim]
min_version = "11.0"
archs = ["arm64", "x86_64"]
lib_type = "static"

[platforms.android]
native_api_level = 21
ndk_path = "/usr/local/NDK-r28c"
archs = ["arm64-v8a", "armeabi-v7a", "x86_64", "x86"]
lib_type = "shared"

[platforms.harmony]
ndk_path = "/usr/local/command-line-tools/sdk/HarmonyOS-NEXT-DB3/openharmony"
archs = ["arm64-v8a", "armeabi-v7a", "x86_64"]
lib_type = "shared"

[libraries.libogg]
version = "v1.3.6"

[libraries.libopus]
version = "v1.6"
configure_flags = ["--enable-float-approx", "--disable-extra-programs", "--disable-doc"]

[libraries.libopusenc]
version = "v0.3"

[libraries.libopusfile]
version = "v0.12"
configure_flags = ["--disable-http", "--disable-examples", "--disable-doc"]
